h3{
  background-color: #f2f2f2;
  padding: 8px 0;
  color: #55046e;
}

p:hover{
cursor: pointer;
color: #55046e;
}

.price{
  font-weight:500;
  margin-top: -20px;
}

button {
  margin-right: 8px;

}
