h3{
  /* background-color: #c6c3c3; */
  padding: 8px 0;
  color: #55046e;
}

p:hover{
cursor: pointer;
color: #55046e;
}

.price{
  font-weight:500;
  margin-top: -20px;
}

button {
  margin-right: 8px;

}

a {
  text-decoration: none;
}

