<div class="container-fluid">
  <h2 class="pl-2 text-center"></h2>

  <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-gallery-2018-5?wid=2000&hei=1536&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1535396224102" class="img-fluid" />

  </div>

  <hr>

   <div class="sample-images bg-light p-5">
     <h1 style="padding-bottom: 8px;">Phone Models</h1>
     <div class="row mt-3 mb-3">

      <div class="col-4" *ngFor="let product of products; index as productId" style="border: solid lightgray 0.5px;">
        <div *ngIf="product.imgUrl">
          <img [src]="product.imgUrl" class="img-fluid p-5"/>
 </div>

   <h3 class="pl-2">
       <a style="color: rgb(116, 62, 165);"   [title]="product.name + ' details'" [routerLink]="['/products', productId]">
       {{ product.name }}
     </a>
   </h3>
 <p class="price">{{ product.price | currency }}</p>

  <div class="pl-2">
     <p *ngIf="product.short_description" [routerLink]="['/products', productId]">
     Description: {{ product.short_description }}
   </p>


     <button class="btn btn-dark btn-sm mr-2" style="font-size:16px" (click)="share()">
     <fa-icon [icon]="faFacebookF"></fa-icon>
   </button>
   <button class="btn btn-dark btn-sm mr-2" style="font-size:16px" (click)="share()">
    <fa-icon [icon]="faTwitterSquare"></fa-icon>
   </button>
     <button class="btn btn-dark btn-sm mr-2" style="font-size:16px" (click)="share()">
    <fa-icon [icon]="faInstagram"></fa-icon>
   </button>

    <button class="btn btn-dark ml-4" style="font-size:15px" (click)="addToCart(product)" >
    Buy Now
   </button>

   </div>
   <app-product-alert  [product]="product"
   (notify)="onNotify()"></app-product-alert>


 </div>






       <!-- <div class="col-4"><img
       src="https://thegoodguys.sirv.com/products/50050727/50050727_535681.PNG?scale.height=505&scale.width=773&canvas.height=505&canvas.width=773&canvas.opacity=0&format=png&png.optimize=true" class="img-fluid" /></div>
       <div class="col-4"> <img src="https://thegoodguys.sirv.com/products/50064324/50064324_605474.PNG?scale.height=505&scale.width=773&canvas.height=505&canvas.width=773&canvas.opacity=0&format=png&png.optimize=true" class="img-fluid" /></div>
       <div class="col-4"><img src="https://thegoodguys.sirv.com/products/50035051/50035051_529913.PNG?scale.height=505&scale.width=773&canvas.height=505&canvas.width=773&canvas.opacity=0&format=png&png.optimize=true" class="img-fluid" /></div> -->

      </div>
  </div>

 <!-- <div class="container" *ngFor="let product of products; index as productId">


  <div *ngIf="product.imgUrl">
           <img [src]="product.imgUrl" class="img-fluid p-5"/>
  </div>

    <h3 class="pl-2">
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </h3>
  <p class="price">{{ product.price | currency }}</p>

   <div class="pl-2">
      <p *ngIf="product.short_description" [routerLink]="['/products', productId]">
      Description: {{ product.short_description }}
    </p>


      <button class="btn btn-primary btn-sm mr-2" (click)="share()">
      <fa-icon [icon]="faFacebookF"></fa-icon>
    </button>
    <button class="btn btn-primary btn-sm mr-2" (click)="share()">
     <fa-icon [icon]="faTwitterSquare"></fa-icon>
    </button>
      <button class="btn btn-primary btn-sm" (click)="share()">
     <fa-icon [icon]="faInstagram"></fa-icon>
    </button>

     <button class="btn btn-info ml-5 " (click)="addToCart(product)" >
     Buy Now
    </button>

    </div>
    <app-product-alert [product]="product"
    (notify)="onNotify()"></app-product-alert>
        <hr>

  </div> -->
