h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;

}

h1:hover{
opacity: 0.7;
}

fa-icon {
  padding-right: 5px;
}

a {
  cursor: pointer;
}

.row {
  padding: 18px;
}
